* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
    touch-action: none;
}

.game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
}

#message {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn {
    top: 50%;
}

#restart-btn {
    top: 60%;
    display: none;
}

#scoreboard {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1rem;
}
@media(max-width:768px){
    #player {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: red;
        border-radius: 50%;
    }
    .star {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: yellow;
        border-radius: 50%;
    }
    .obstacle {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: black;
    }
    button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-size: 0.7rem;
        background-color: #61dafb;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #start-btn {
        top: 50%;
    }
    
    #restart-btn {
        top: 60%;
        display: none;
    }
}